!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatible",  :content => "IE=edge"}
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1.0,user-scalable=no"}
    %title= @page_title
    -# = favicon_link_tag asset_path('jurnal-icon.png')
    -# = stylesheet_link_tag "login", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :scripts
  %body
    %header
      %figure.logo-login
        %b
          ScoreME
    %section.container
      = yield
    -# = render "layouts/footer_dense"